<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google Sign in</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1079946278263-gl67tr3d4bhnomr7q9pmek0lc2t281op</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>1079946278263-gl67tr3d4bhnomr7q9pmek0lc2t281op.apps.googleusercontent.com</string>
</dict>
</plist>
